body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #8675A9;
  font-size: 120px;
  margin: 0;
  font-family: 'Sacramento', cursive;
  position: relative;
  bottom: 50px;
}

h2 {
  color: #8675A9;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
    color: #753188;
    font-family: 'Montserrat', sans-serif;
  }

p{
  line-height: 2;
}

hr{
  border: dotted #F0D9FF 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

a{
  color: #8675A9;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:  #C3AED6;
}



  /*************class*************/
  .top-container {
    padding-top: 50px;
    background-color: #F6DEF6;
    padding-bottom: 90px;

  }

.middle-container{
  margin: 100px 0;
}
  .bottom-container{
    background-color: #F6DEF6;
    margin: 40px auto 0;
    padding: 50px 0 20px;
  }

.i-know{
  position: relative;
  bottom: 20px;
}

.intro{
  margin-top: 40px;
  width: 30%;
  margin: auto;
}

  .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;

  }




  .monica-gif {
    height: 220px;
    position: absolute;
    right:320px;
    top: 350px;
  }

  .seven{
    height: 120px;
    position: absolute;
    top: 150px;
    right: 130px;
  }

.friends{
  height: 200px;
  position: relative;
  bottom: 100px;
}

.turkey{
  height: 150px;
  position: absolute;
  top:220px;
  left: 130px;
}

  .Monica {
    height: 250px;
  }

  .dancing-img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.cleaning-img {
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.cooking-img {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}


.btn {
  background: #C3AED6;
  background-image: -webkit-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -moz-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -ms-linear-gradient(top, #C3AED6, #8675A9);
  background-image: -o-linear-gradient(top, #C3AED6, #8675A9);
  background-image: linear-gradient(to bottom, #C3AED6, #8675A9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 40px;
}

.btn:hover {
  background: #EFBBCF;
  background-image: -webkit-linear-gradient(top, #EFBBCF, #C3AED6);
  background-image: -moz-linear-gradient(top, #EFBBCF, #C3AED6);
  background-image: -ms-linear-gradient(top, #EFBBCF, #C3AED6);
  background-image: -o-linear-gradient(top, #EFBBCF, #C3AED6);
  background-image: linear-gradient(to bottom, #EFBBCF, #C3AED6);
  text-decoration: none;
  margin-bottom: 40px;
}

.copyright{
  font-size: 0.75rem;
  color: #8675A9;
  padding: 10px 0;
}
